<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top container-fluid ">
	<a class="navbar-brand ml-lg-4 ml-xl-5" href="#">
    <img src="../../assets/img_logo.svg" width="120" height="50" alt="">
  </a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
	(click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-end mr-xl-5 mr-lg-4" id="navbarNav">
		<a type="button" class="float-right" (click)="onClickClose()" style="cursor: pointer;"><mat-icon class="icon" >close</mat-icon></a>
		<a *ngIf="!isMenuCollapsed" (click)="onClickClose()" style="cursor: pointer;" type="button" class="ml-4">
			<span class="row">
				<mat-icon matSuffix>keyboard_backspace</mat-icon>
				<p>Back</p>
			</span>
		</a>
  </div>